/*This removes any automatic spacing in the window*/
*{
    padding: 0;
    margin: 0;
}
/*I'm assigning a grid area for my header, and styling the colors and spacing*/
.header{
    grid-area: header;
    background-color: #540000;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}
/*Here I am assigning more grid areas, some of these may be unused after making the tags in JavaScript, but it still works */
.item1{
    grid-area: section1;
}
.item2{
    grid-area: section2;
}
.item3{
    grid-area: section3;
}
.item4{
    grid-area: section4;
}
.item5{
    grid-area: section5;
}
.item6{
    grid-area: section6;
}
.footer{
    grid-area: footer;
}

/*This is my grid container. I use a grid template to display the sections in the order I would like. This layout is mobile-first*/
#movieContainer {
    display: grid;
    grid-template-areas:
            'header header'
            'section1 section1'
            'section2 section2'
            'section3 section3'
            'section4 section4'
            'section5 section5'
            'section6 section6'
            'footer footer';
}

/*Color change for the background on the entire page*/
body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/588/817/non_2x/halloween-seamless-pattern-holiday-background-with-bat-spider-vector.jpg");
    background-repeat: repeat;
    width: 100%;
}

/*Color, font, spacing and size changes for my paragraphs */
p{
    color: white;
    font-family: 'Cousine', monospace;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-weight: bold;
}

/*Color, font, alignment and size changes for my main header*/
h1{
    color: white;
    font-family: 'Creepster', cursive;
    text-align: center;
    font-size: 50px;
}

/*Color, font, alignment and spacing changes for my secondary headers*/
h2{
    color: white;
    font-family: 'Cousine', monospace;
    text-align: center;
    margin-bottom: 5%;
    font-size: 50px;
}

/*Alignment and size changes for my images*/
img{
    display: block;
    margin: 5% auto;
    width: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

/*Alignment and spacing changes for my videos*/
iframe {
    display: block;
    margin: 10% auto;
}

@media only screen and (min-width: 992px) {
    img {
        width: 50%;
    }

    h1 {
        font-size: 50px;
        text-align: left;
        margin-left: 5%;
    }

    h2 {
        font-size: 30px;
    }

    p {
        margin-left: 20%;
        margin-right: 20%;
    }
}